<h2><%=t("Resend_Conf_Instruc")%></h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label t("email") %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit t("Resend_Conf_Instruc") %></div>
<% end %>

<%= render "links" %>
