<h1>Complaint</h1>

<div>
  <div class="row-fluid">
    <div class="span4">Date Received</div>
    <div class="span4"><%= @item.issue_date %></div>
  </div>

  <div class="row-fluid">
    <div class="span4">Complainant</div>
    <div class="span4"><%= link_to(@orgName, organization_path(@item.organization_id)) %></div>
  </div>

  <div class="row-fluid">
    <div class="span4">Tender complaint refers to</div>
    <div class="span4"><%= link_to(@tenderName, tender_path(@item.tender_id)) %></div>
  </div>

  <div class="row-fluid">
    <div class="span4">legal basis</div>
    <div class="span4"><%= @item.legal_basis %></div>
  </div>

  <div class="row-fluid">
    <div class="span4">Demand</div>
    <div class="span4"><%= @item.demand %></div>
  </div>

  <div class="row-fluid">
    <div class="span8">
      <p><%= @item.complaint%></p>
    </div>
  </div>
</div>
