<h2><%=t("Sign In")%></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label t("Email") %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label t("Password") %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label t("Remember me") %></div>
  <% end -%>

  <div><%= f.submit t("Sign In") %></div>
<% end %>

<%= render "links" %>
