<% title "Procurement Analysis" %>



<h2>Tender Breakdown 2012</h2>

<script type="text/javascript" charset="utf-8">
$(function () {
    var tenderTypeChart;
    var tenderTypeCountChart;
    var bidDurationChart;
    var warningPeriodChart;

    var dataset = []
    <%= @bidDurationVsBidders.each do |data| %>
        var dataPoint = { x: <%=data[0]%>, y: <%=data[1]%>, marker: { radius: <%=data[2]%> }}
        dataset.push(dataPoint)
    <% end %>

    
    $(document).ready(function() {
        tenderTypeChart = new Highcharts.Chart({
            chart: {
                renderTo: 'amountGraph',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Estimated value of Tenders by Type'
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
            	percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>:' +this.y+' GEL';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Estimated value of Tenders by Type',
                data: [ <% @data.each do |type| %> <%= raw type.getValuePair() %>, <% end %>]
            }]
        });


      tenderTypeCountChart = new Highcharts.Chart({
            chart: {
                renderTo: 'countGraph',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Number of Tenders by Type'
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
            	percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>:' +this.y;
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Number of Tenders by Type',
                data: [ <% @data.each do |type| %> <%= raw type.getCountPair() %>, <% end %>]
            }]
        });

      
      bidDurationChart = new Highcharts.Chart({

       chart: {
          renderTo: 'averageBidDurationGraph',
          type: 'bar'
       },
       title: {
          text: 'Average bidding duration'
       },
       xAxis: {
          categories: [
             <% @data.each do |type| %>
              "<%= type.getName() %>",
             <% end %>
          ]
       },
       yAxis: {
          title: {
             text: 'Days'
          }
       },
       series: [        
               {
                name: "Average bidding duration",
                data: [ <% @data.each do |type| %> <%= raw type.getAverageBidDuration() %>, <% end %>]
               },  
               ]  

        });

      warningPeriodChart = new Highcharts.Chart({

       chart: {
          renderTo: 'averageWarningPeriodGraph',
          type: 'bar'
       },
       title: {
          text: 'Average Time between tender announcement and bidding'
       },
       xAxis: {
          categories: [
             <% @data.each do |type| %>
              "<%= type.getName() %>",
             <% end %>
          ]
       },
       yAxis: {
          title: {
             text: 'Days'
          }
       },
       series: [        
               {
                name: "Days after announcement",
                data: [ <% @data.each do |type| %> <%= raw type.getAverageWarningPeriod() %>, <% end %>]
               },  
               ]  

        });

      averageBidders = new Highcharts.Chart({

       chart: {
          renderTo: 'averageBiddersGraph',
          type: 'bar'
       },
       title: {
          text: 'Average number of bidders per tender'
       },
       xAxis: {
          categories: [
             <% @data.each do |type| %>
              "<%= type.getName() %>",
             <% end %>
          ]
       },
       yAxis: {
          title: {
             text: 'Bidders'
          }
       },
       series: [        
               {
                name: "Bidders",
                data: [ <% @data.each do |type| %> <%= raw type.getAverageBidders() %>, <% end %>]
               },  
               ]  

        });

      averageBids = new Highcharts.Chart({

       chart: {
          renderTo: 'averageBidsGraph',
          type: 'bar'
       },
       title: {
          text: 'Average number of bids per tender'
       },
       xAxis: {
          categories: [
             <% @data.each do |type| %>
              "<%= type.getName() %>",
             <% end %>
          ]
       },
       yAxis: {
          title: {
             text: 'Bids'
          }
       },
       series: [        
               {
                name: "Bids",
                data: [ <% @data.each do |type| %> <%= raw type.getAverageBids() %>, <% end %>]
               },  
               ]  

        });

      moreThan1Bid = new Highcharts.Chart({

       chart: {
          renderTo: 'moreThan1BidGraph',
          type: 'bar'
       },
       title: {
          text: 'Percentage of bids that have more than one bidder'
       },
       xAxis: {
          categories: [
             <% @data.each do |type| %>
              "<%= type.getName() %>",
             <% end %>
          ]
       },
       yAxis: {
          title: {
             text: 'Percentage'
          }
       },
       series: [        
               {
                name: "Percentage",
                data: [ <% @data.each do |type| %> <%= raw type.getNumTendersWithBidders() %>, <% end %>]
               },  
               ]  

        });



    scatterChart = new Highcharts.Chart({
            chart: {
                renderTo: 'scatterGraph'
            },
            xAxis: {
                min: 0  
            },
            yAxis: {
                min: 0
            },
            title: {
                text: 'Scatter plot with regression line'
            },
            series: [{
                type: 'line',
                name: 'Regression Line',
                data: [[0, 0], [0, 0]],
                marker: {
                    enabled: false
                },
                states: {
                    hover: {
                        lineWidth: 0
                    }
                },
                enableMouseTracking: false
            }, {
                type: 'scatter',
                name: 'Observations',
                data: dataset
            }]
        });
    });
    
});
</script>


<div id="amountGraph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="countGraph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="noBidsVBidsGraph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="averageBidDurationGraph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="averageWarningPeriodGraph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="averageBiddersGraph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="averageBidsGraph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="moreThan1BidGraph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="scatterGraph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

