<% title "Procurement Analysis" %>



<div class="row-fluid">
  <div class="offset3">
    <ul>
      <% @years.each do |year| %>
        <li class="hori-nav sidebar">
          <%= link_to(year, {:action => "generate"}, :remote => true) %>
        </li>
      <%end%>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="sidebar span3">
    <ul>
      <li>
        <%= link_to( "Revenue Graph", {:action => "showGraph"}, :remote => true) %>
      </li>     
      <li>
        <%= link_to( "Value of Tenders by Type", {:action => "showGraph"}, :remote => true) %>
      </li>
      <li>
        <%= link_to( "Number of Tenders by Type", {:action => "showGraph"}, :remote => true) %>
      </li>
      <li>
        <%= link_to( "Bidding Durations", {:action => "showGraph"}, :remote => true) %>
      </li>
      <li>
        <%= link_to( "Tender Warning Period", {:action => "showGraph"}, :remote => true) %>
      </li>
      <li>
        <%= link_to( "Average Number of Bidders", {:action => "showGraph"}, :remote => true) %>
      </li>
      <li>
        <%= link_to( "Average Number of Bids", {:action => "showGraph"}, :remote => true) %>
      </li>
      <li>
        <%= link_to( "Percentage of Bids that Had Atleast One Bidder", {:action => "showGraph"}, :remote => true) %>
      </li>    
      <li>
        <%= link_to( "Duration of Tender vs Average Bidders", {:action => "showGraph"}, :remote => true) %>
      </li>
      <li>
        <%= link_to( "Bidding Duration Days", {:action => "showGraph"}, :remote => true) %>
      </li>
    </ul>
  </div>

  <div class="main-display span9"> 
    <div class="row-fluid">
      <div id ="results"></div>
    </div>
  </div>
</div>
