<div class="row-fluid">
  <h2><strong><%= t('simplified_procurements') %></strong> - <small>Check also our <%= link_to(t('Tenders'), root_path) %></small></h2>
</div>

<div class="tabs tab-div" id="search-tabs">
    <ul>
      <li><a href="#tabs-1"><%=t("search_simplified_proc")%></a></li>
    </ul>
    <div id="tabs-1" class="expansion top-tab" >
      <%= form_tag({:controller => "simplified_procurement", :action => "search"}, :method => "get") do %>
          <div class="row-fluid">

            <!-- Procurement registration number -->
            <div class="span6">
              <label for="registration_number" class="search"><%=t("registration_number")%></label>
              <a href="#" class="info-tip">&nbsp;<span><%=t("registration_number_descr")%></span></a>
              <%=text_field_tag( 'registration_number', nil,  :class => "large-textfield" ) %>
            </div>

            <!-- Procurement status -->
            <div class="span6">
              <label for="status" class="search"><%=t("procurement_status")%> </label>
              <a href="#" class="info-tip">&nbsp;<span><%=t("procurement_status_descr")%></span></a>
              <%= select_tag(:procurement_status,  options_for_select(@procurement_status),{:include_blank => true})  %>
            </div>

          </div>
          <div class="row-fluid">

            <!-- Supplier -->
            <div class="span6">
              <label for="supplier" class="search"><%=t("Supplier")%></label>
              <a href="#" class="info-tip">&nbsp;<span><%=t("supplier_description")%></span></a>
              <%=text_field_tag( 'supplier_name', nil,  :class => "large-textfield", :data => {autocomplete_source: url_for(:controller => "organizations", :action => "getSuppliers") } ) %>
            </div>

            <!-- Procurer -->
            <div class="span6">
              <label for="procurer" class="search"><%=t("Procurer")%></label>
              <a href="#" class="info-tip">&nbsp;<span><%=t("procurer_description")%></span></a>
              <%=text_field_tag( 'procurer_name', nil, :class => "large-textfield", :data => {autocomplete_source: url_for(:controller => "organizations", :action => "getProcurers") } ) %>
            </div>

          </div>

          <div class="row-fluid">
            <div class="right-align">
              <%= submit_tag( t('Search'), :class => "submit-button") %>
            </div>
          </div>

      <% end %>
    </div>

</div>
