<h1><%=t("digest_header")%></h1>

<%if @searchUpdates.count > 0 %>
  <h2><%=t("digest_search_header")%></h2>

  <%@searchUpdates.each do |searchItem|%>
    <%search = searchItem[:search]%>
    <%= link_to search.name, {:host => "tendermonitor.ge",:port =>"",:controller => "user", :action => "search_via_saved", :search_id => search.id, :highlight => true}%>
    <%=t("Number of new results")%>: <%=searchItem[:newResults].count%>
    <ul>
      <%max = 10%>
      <%count = 0%>
      <%searchItem[:newResults].each do |newResult|%>
        <%count += 1%>
        <%if count > max%>
          <%break%>
        <%end%>
        <%if searchItem[:search].searchtype == "tender"%>
          <%tender = Tender.where(:id => newResult).first%>
          <li><%= link_to tender.tender_registration_number, {:host => "tendermonitor.ge",:port =>"",:controller => "tenders", :action => "show", :id => tender.id, :highlight => true}%></li>
        <%else%>
          <%action = "show"%>
          <%if searchItem[:search].searchtype == "procurer"%>
            <%action = "show_procurer"%>
          <%end%>
          <%org = Organization.where(:id => newResult).first%>
          <li><%= link_to org.name, {:host => "tendermonitor.ge",:port =>"",:controller => "organizations", :action => action, :id => org.id, :highlight => true}%></li>
        <%end%>
      <%end%>
      <%if count > max%>
        <%=t("And")%> <%=searchItem[:newResults].count - max%><%=t("geo-it")%> <%=t("more")%>
      <%end%>
    </ul>
    <br>
  <%end%>
<hr>
<%end%>
  
<%if @tenderUpdates.count > 0 %>
  <h2><%=t("digest_tender_header")%></h2>
  <%@tenderUpdates.each do |tenderUpdate|%>
    <%= link_to tenderUpdate[:spa],  {:host => "tendermonitor.ge",:port =>"", :controller => "tenders", :action => "show", :id => tenderUpdate[:id], :highlight => true} %>
    <%if tenderUpdate[:changes].count > 0%>
      <br>
      <%=t("The following values have changed")%>
      <ul>
      <%tenderUpdate[:changes].each do |change|%>
        <li><%=t(change[:field])%>
          <ul>
            <li><%=t("Old Value")%>: <%=change[:old]%></li>
            <li><%=t("New Value")%>: <%=change[:new]%></li>
          </ul>
        </li>
      <%end%>
      </ul>
    <%end%>
    <br>
  <%end%>
<hr>
<%end%>

<%if @supplierUpdates.count > 0 %>
  <h2><%=t("digest_supplier_header")%></h2>
  <%@supplierUpdates.each do |supplierUpdate|%>
    <%= link_to supplierUpdate[:name],  {:host => "tendermonitor.ge", :controller => "organization",:port =>"", :action => "show", :id => supplierUpdate[:id], :highlight => true} %>
    <%if supplierUpdate[:bids].count > 0%>
      <br>
      <%=t("New bids")%>
      <ul>
        <%supplierUpdate[:bids].each do |bid|%>
          <li><%=t("Bid")%> <%=bid[:value].to_s%> <%=t("bid_on_tender")%> <%= link_to bid[:spa],  {:host => "tendermonitor.ge", :controller => "tenders",:port =>"", :action => "show", :id => bid[:id], :highlight => true} %></li>
        <%end%>
      </ul>
    <%end%>
    <%if supplierUpdate[:agreements].count >0%>
      <br>
      <%=t("New Agreements")%>
      <ul>
        <%supplierUpdate[:agreements].each do |agreement|%>
          <li><%=t("Made agreement for")%> <%=agreement[:value].to_s%><%=t("ad")%> <%=t("agreement_on_tender")%> <%= link_to agreement[:spa],  {:host => "tendermonitor.ge", :controller => "tenders",:port =>"", :action => "show", :id => agreement[:id], :highlight => true}%></li>
        <%end%>
      </ul>
    <%end%>
    <br>
  <%end%>
<hr>
<%end%>

<%if @procurerUpdates.count > 0 %>
  <h2><%=t("digest_procurer_header")%></h2>
  <%@procurerUpdates.each do |procurerUpdate|%>
    <%= link_to procurerUpdate[:name],  {:host => "tendermonitor.ge", :controller => "organizations",:port =>"", :action => "show_procurer", :id => procurerUpdate[:id], :highlight => true} %>
    <%if procurerUpdate[:tenders].count > 0%>
      <br>
      <%=t("New Tenders Issued")%>
      <ul>
        <%procurerUpdate[:tenders].each do |tender|%>
          <li><%= link_to tender[:spa],  {:host => "tendermonitor.ge", :controller => "tenders",:port =>"", :action => "show", :id => tender[:id], :highlight => true} %> - <%=t("Estimated Value") + ": "+tender[:value].to_s%></li>      
        <%end%>
      </ul>
    <%end%>
    <br>
  <%end%>
<%end%>

<hr>
<br>
<%=t("To stop receiving these email updates click")%> <%= link_to t("here"),  {:host => "tendermonitor.ge", :controller => "user",:port =>"", :action => "unsubscribe"} %>
