<h1><%=t("digest_header")%></h1>

<%if @updates[:searches] %>
  <h2><%=t("digest_search_header")%></h2>
  <%@updates[:searches].each do |search|%>
    <%= link_to search[0].name, {:host => "tendermonitor.ge",:port =>"",:controller => "user", :action => "search_via_saved", :search_id => search[0].id}%>
    <br>
  <%end%>
<hr>
<%end%>
  
<%if @updates[:tenderWatches] %>
  <h2><%=t("digest_tender_header")%></h2>
  <%@updates[:tenderWatches].each do |watch|%>
    <%tender = Tender.where(:url_id => watch.tender_url).first%>
    <%= link_to tender.tender_registration_number,  {:host => "tendermonitor.ge",:port =>"", :controller => "tender", :action => "show", :id => tender.id} %>
    <br>
  <%end%>
<hr>
<%end%>

<%if @updates[:supplierWatches] %>
  <h2><%=t("digest_supplier_header")%></h2>
  <%@updates[:supplierWatches].each do |watch|%>
    <%supplier = Organization.where(:id => watch.supplier_id).first%>
  <%= link_to supplier.name,  {:host => "tendermonitor.ge", :controller => "organization",:port =>"", :action => "show", :id => supplier.id} %>
    <br>
  <%end%>
<hr>
<%end%>

<%if @updates[:procurerWatches] %>
  <h2><%=t("digest_procurer_header")%></h2>
  <%@updates[:procurerWatches].each do |watch|%>
   <% procurer = Organization.where(:id => watch.procurer_id).first%>
    <%= link_to procurer.name,  {:host => "tendermonitor.ge", :controller => "organization",:port =>"", :action => "show_procurer", :id => procurer.id} %>
    <br>
  <%end%>
<hr>
<%end%>
