<div class="AddCPVGroup">
  <%= render :partial => "user/cpv_create_button" %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t("Name")%></th>
      <th><%=t("Date Saved")%></th>
  </thead>
  <tbody>
    <% @cpvGroups.each do |cpvGroup| %>
      <tr>
        <td><%= cpvGroup.name %></td>
        <td><%= cpvGroup.created_at %></td>
        <td><%= button_to t("Edit Category"), {:controller => "cpv_tree", :action => "editCPVTree", :cpvGroup => cpvGroup, :isGlobal => @isGlobal} %></td>
        <td><%= button_to t("Remove Category"), {:controller => "cpv_tree", :action => "deleteCPVTree", :cpvGroup => cpvGroup, :isGlobal => @isGlobal} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
