<div class="AddCPVGroup">
  <%= render :partial => "user/cpv_create_button" %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>name</th>
      <th>date saved</th>
  </thead>
  <tbody>
    <% cpvGroups.each do |cpvGroup| %>
      <tr>
        <td><%= cpvGroup.name %></td>
        <td><%= cpvGroup.created_at %></td>
        <td><%= button_to "Edit Category", {:controller => "cpv_tree", :action => "editCPVTree", :cpvGroup => cpvGroup, :user_id => @userID, :referrer => referrer} %></td>
        <td><%= button_to "Remove Category", {:controller => "cpv_tree", :action => "deleteCPVTree", :cpvGroup => cpvGroup, :user_id => @userID, :referrer => referrer} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
