<%- model_class = Organization -%>
<div class="page-header">
  <h1><%= t("Procurers")%></h1>
</div>

<%= t("Number Of Organizations Found")%>: <%= @numResults %>
<p>
  <%= t("Download")%>:
  <% csvParams = @params.clone%>
  <% csvParams[:format] = "csv" %>
  <% csvParams[:controller] = "organization" %>
  <% csvParams[:action] = "search_procurer" %>
  <%= link_to "CSV",  csvParams %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable(@params, "name", t("Name")) %></th>
      <th><%= sortable(@params, "code", t("Code")) %></th>
      <th><%= sortable(@params, "org_type", t("Type")) %></th>
      <th><%= sortable(@params, "total_offered_contract_value",t("Total Spent")) %></th>
      <th><%= sortable(@params, "total_offered_tenders",t("Tenders Issued")) %></th>
      <th><%= sortable(@params, "total_success_tenders",t("Successful Tenders")) %></th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, :controller => "organizations", :action => "show_procurer", :id => organization %></td>
        <td><%= organization.code %></td>
        <td><%= t(organization.org_type) %></td>
        <td><%= t(organization.total_offered_contract_value) %></td>
        <td><%= t(organization.total_offered_tenders) %></td>
        <td><%= t(organization.total_success_tenders) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= page_navigation_links @organizations %>

