<%- model_class = Organization -%>
<div class="page-header">
  <h1><%=t '.title', :default => t("Organizations") %></h1>
</div>

<% if user_signed_in? %>
  <div class="search_serialization">
    <% if @searchIsSaved %>
      <%= render "user/remove_form" %>
    <% else %>
      <%= render "user/save_form" %>
    <% end %>
  </div>
<% end %>

<%= t("Number Of Organizations Found")%>: <%= @numResults %>
<p>
  <%= t("Download")%>:
  <% csvParams = @params.clone%>
  <% csvParams[:format] = "csv" %>
  <% csvParams[:controller] = "organization" %>
  <% csvParams[:action] = "search" %>
  <%= link_to "CSV",  csvParams %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable(@params, "name", t("Name")) %></th>
      <th><%= sortable(@params, "code", t("Code")) %></th>
      <th><%= sortable(@params, "org_type", t("Type")) %></th>
      <th><%= sortable(@params, "country", t("Country")) %></th>
      <th><%= sortable(@params, "total_won_contract_value", t("Total Revenue")) %></th>
      <th><%= sortable(@params, "total_bid_tenders", t("Tenders Bid On")) %></th>
      <th><%= sortable(@params, "total_won_tenders", t("Tenders Won")) %></th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, organization_path(organization) %></td>
        <td><%= organization.code %></td>
        <td><%= t(organization.org_type) %></td>
        <td><%= t(organization.country) %></td>
        <td><%= t(organization.total_won_contract_value) %></td>
        <td><%= t(organization.total_bid_tenders) %></td>
        <td><%= t(organization.total_won_tenders) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= page_navigation_links @organizations %>
