<%- model_class = Organization -%>
<div class="page-header">
  <h1>Procurers</h1>
</div>

Number of Organizations found: <%= @numResults %>
<p>
  Download:
  <% csvParams = @params.clone%>
  <% csvParams[:format] = "csv" %>
  <% csvParams[:controller] = "organization" %>
  <% csvParams[:action] = "search_procurer" %>
  <%= link_to "CSV",  csvParams %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable(@params, "name") %></th>
      <th><%= sortable(@params, "code") %></th>
      <th><%= sortable(@params, "org_type") %></th>
      <th><%= sortable(@params, "country") %></th>
      <th><%= sortable(@params, "total_offered_contract_value","Total Spent") %></th>
      <th><%= sortable(@params, "total_offered_tenders","Tenders Issued") %></th>
      <th><%= sortable(@params, "total_success_tenders","Successful Tenders") %></th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, :controller => "organizations", :action => "show_procurer", :id => organization %></td>
        <td><%= organization.code %></td>
        <td><%= t(organization.org_type) %></td>
        <td><%= t(organization.country) %></td>
        <td><%= t(organization.total_offered_contract_value) %></td>
        <td><%= t(organization.total_offered_tenders) %></td>
        <td><%= t(organization.total_success_tenders) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= page_navigation_links @organizations %>

