<script type="text/javascript" charset="utf-8">
function createHighChartGraphs()
{
  winlossChart = new Highcharts.Chart({
     chart: {
          renderTo: 'winLossChart',
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false
      },
      title: {
          text: 'Successful Tenders Vs Failed Tenders'
      },
      tooltip: {
  	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
      	percentageDecimals: 1
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                  enabled: true,
                  color: '#000000',
                  connectorColor: '#000000',
                  formatter: function() {
                      return '<b>'+ this.point.name +'</b>:' +this.y;
                  }
              }
          }
      },
      series: [{
          type: 'pie',
          name: 'Tender Success/Fail',
          data: [ ["Success", <%= @numAgreements %>],["Failed", <%= @numNoAgreements %>] ]
      }]
  });

  cpvCodeChart = new Highcharts.Chart({
    chart: {
        renderTo: 'cpvDistributionChart',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
    },
    title: {
        text: 'Tender CPV Code Distribution'
    },
    tooltip: {
	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
    	percentageDecimals: 1
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                color: '#000000',
                connectorColor: '#000000',
                formatter: function() {
                    return '<b>'+ this.point.name +'</b>:' +this.y;
                }
            }
        }
    },
    series: [{
        type: 'pie',
        name: 'Tenders offered by CPV Code',
        data: [ <% @Cpvs.each do |cpv| %> <%= raw cpv %>, <% end %>]
    }]
  });

  <% if  @successfulTenders.count > 0  %>
  	altChart = new Highcharts.StockChart({
	  chart : {
		  renderTo : 'TenderActivityChart',
      type: 'column'
	  },

	  rangeSelector : {
		  selected : 5
	  },

	  title : {
		  text : 'Electronic Tender Activity'
	  },
    yAxis: {
        title: {
            text: 'Lari'
        },
        min: 0
    }, 

    plotOptions: {
      series: {
          cursor: 'pointer',
          point: {
              events: {
                  click: function() {
                      parent.location=this.myData;
                  }
              }
          }
      }
    },

    series : [{
		    name : 'Estimated Value',
		    data : [ <% @successfulTenders.each do |tender| %>
                   { 
                     x: <%= tender[0].tender_announcement_date.to_time.to_i*1000 %>, 
                     y: <%=tender[0].estimated_value.to_i%>,
                     myData: "<%= tender_path(tender[0].id) %>"
                   },
                  <%end%> 
                ],
        dataGrouping: {
           enabled : false
	      }
	    },{		    
        name : 'Actual Value',
		    data : [ <% @successfulTenders.each do |tender| %>
                  {                     
                     x: <%= tender[0].tender_announcement_date.to_time.to_i*1000 %>, 
                     y: <%=tender[1].amount.to_i%>,
                     myData: "<%= tender_path(tender[0].id) %>"
                   },
                  <%end%> 
                ],
        dataGrouping: {
           enabled : false
	      }
	    }
    ]
  });
<% end %>
}

$(function () {
    var winLossGraph;
    var cpvCodeChart;
    var procurerGraph;
    var competitorGraph;
    var tendersValueGraph;
 
    $(document).ready(function() {        
      createHighChartGraphs();
      <% if @jsonString.length > 0 %>
        createD3Graphs( <%= raw @jsonString %> );
      <% end %>
  });
});
</script>


<%- model_class = Organization -%>
<div class="page-header">
  <h1>Procurer</h1>
</div>

<dl class="info-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @organization.name %></dd>
  <dt><strong>Identification code:</strong></dt>
  <dd><%= @organization.code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:org_type) %>:</strong></dt>
  <dd><%= t(@organization.org_type) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @organization.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @organization.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone_number) %>:</strong></dt>
  <dd><%= @organization.phone_number %></dd>
  <% if @organization.fax_number.length > 0 %>
    <dt><strong><%= model_class.human_attribute_name(:fax_number) %>:</strong></dt>
    <dd><%= @organization.fax_number %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= mail_to @organization.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:webpage) %>:</strong></dt>
  <dd><a href="<%= @organization.webpage%>"> <%= @organization.webpage %></a></dd>


  <div id="winLossChart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
  <div id="cpvDistributionChart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
  <% if  @successfulTenders.count > 0  %>
    <div id="TenderActivityChart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
  <% end %>
  <% if @jsonString.length > 0 %>
    <p id="cpvChart">
  <% end %>


  <dt><strong>Estimated Cost: All Tenders</strong></dt>
  <dd>$<%= @totalEstimate.round(2)  %></dd>
  <dt><strong>Actual Cost: All Tenders</strong></dt>
  <dd>$<%= @actualCost.round(2)  %></dd>
  <dt><strong>Savings percentage</strong></dt>
  <dd>%<%= @costVsEstimateSaving  %></dd>
  <dt><strong>Average Bidders</strong></dt>
  <dd><%= @averageBidders.round(2)  %></dd>
  <dt><strong>Average Bids</strong></dt>
  <dd><%= @averageBids.round(2)  %></dd>
</dl>


<br></br>
<h3>Tenders Issued</h3>
<br></br>
<p>
  Download:
  <%= link_to "CSV", :controller => "organization", :action => "download_proc_tenders", :format => "csv", :id => @organization.id %>
</p>

  <table class="dataTable" cellpadding="0" cellspacing="0" border="0" width="100%" >
  <thead>
    <tr>
      <th>Tender</th>
      <th>Announcement Date</th>
      <th>Estimated Value</th>
      <th>CPV Code</th>
      <th>CPV Description</th>
    </tr>
  </thead>
  <tbody>      
    <% @tendersOffered.each do |tender| %>
      <tr>
        <td><%= link_to tender.tender_registration_number, tender_path(tender[:id]) %></td> 
        <td><%= tender.tender_announcement_date%></td>
        <td><%= tender.estimated_value%></td>
        <td><%= tender.cpv_code%></td>
        <td><%= tender[:cpvDescription]%></td>
      </tr>
    <% end %>
  </tbody>
</table>

