<script type="text/javascript" charset="utf-8">

$(function () {
    var winLossGraph;
    var cpvCodeChart;
    var procurerGraph;
    var competitorGraph;
    var tendersValueGraph;
 
    $(document).ready(function() {

          winlossChart = new Highcharts.Chart({
            chart: {
                renderTo: 'winLossChart',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '<%=t("Tenders Won Vs Tenders Lost")%>'
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
            	percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>:' +this.y;
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '<%=t("Tenders Won/Lost")%>',
                data: [ ['<%=t("Tenders Won")%>', <%= @numTendersWon %>],['<%=t("Tenders Lost")%>', <%= @numTenders-@numTendersWon %>] ]
            }]
        });

        cpvCodeChart = new Highcharts.Chart({
            chart: {
                renderTo: 'cpvDistributionChart',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '<%=t("Tender CPV Code Distribution")%>'
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
            	percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>:' +this.y;
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '<%=t("Tenders by CPV Code")%>',
                data: [ <% @topFiveCpvs.each do |cpv| %> <%= raw cpv %>, <% end %>]
            }]
        });



          procurerGraph = new Highcharts.Chart({
            chart: {
                renderTo: 'ProcurersChart',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '<%=t("Procurers")%>'
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
            	percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>:' +this.y;
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '<%=t("Procurers that this company has won contracts with")%>',
                data: [ <% @topTenProcuringEntities.each do |procurer| %> 
                          <% item = [ link_to(procurer[0].name,  :controller => "organizations", :action => "show_procurer", :id => procurer[0]), procurer[1] ] %>
                          <%= raw item %>, 
                        <% end %>]
            }]
        });

        competitorGraph = new Highcharts.Chart({
            chart: {
                renderTo: 'competitorChart',
                type: 'bar'
            },
            title: {
                text: '<%=t("Competitors")%>'
            },
           xAxis: {
              categories: [
                 <% @competitors.each do |competitor| %> 
                    <% item = [link_to(competitor[0].name, organization_path(competitor[0].id))] %>
                    <%= raw item %>, 
                 <% end %>
              ]
           },
           yAxis: {
              title: {
                 text: '<%=t("Tenders")%>'
              }
           },
            plotOptions: {
            },
            series: [{
                name: '<%=t("Tenders")%>',
                data: [ 
                        <% @competitors.each do |competitor| %> 
                          <% item = [ link_to(competitor[0].name, organization_path(competitor[0].id)), competitor[1] ] %>
                          <%= raw item %>, 
                        <% end %>
                        ]
            }]
        });


      <% if  @simpleTenderStats.count > 0  %>
      	chart = new Highcharts.StockChart({
			    chart : {
				    renderTo : 'tendersValueChart',
            type: 'column'
			    },

			    rangeSelector : {
				    selected : 5
			    },

			    title : {
				    text : '<%=t("Simple Electronic Tender Activity")%>'
			    },
          yAxis: {
              title: {
                  text: '<%=t("Lari")%>'
              },
              min: 0
          }, 
          plotOptions: {
          series: {
              cursor: 'pointer',
              point: {
                  events: {
                      click: function() {
                          parent.location=this.myData;
                      }
                  }
              }
            }
         },

			    series : [{
				    name : '<%=t("Estimated Value")%>',
				    data : [ <% @simpleTenderStats.each do |key,tender| %>
                    { 
                     x: <%=key*1000*86400%>, 
                     y: <%=tender[0].estimated_value.to_i%>,
                     myData: "<%= tender_path(tender[0].id) %>"
                    },
                  <%end%> 
                    ],
            dataGrouping: {
              enabled : false
			      }
			    },{		    
            name : '<%=t("Actual Value")%>',
				    data : [ <% @simpleTenderStats.each do |key,tender| %>
                      { 
                       x: <%=key*1000*86400%>, 
                       y: <%=tender[1].to_i%>,
                       myData: "<%= tender_path(tender[0].id) %>"
                      },
                    <%end%> 
                    ],
            dataGrouping: {
              enabled : false
			      }
           }  
          ]
		    });
      <% end %>

      <% if  @TenderStats.count > 0  %>
      	altChart = new Highcharts.StockChart({
			  chart : {
				  renderTo : 'altTendersValueChart',
          type: 'column'
			  },

			  rangeSelector : {
				  selected : 5
			  },
      
        plotOptions: {
          series: {
              cursor: 'pointer',
              point: {
                  events: {
                      click: function() {
                          parent.location=this.myData;
                      }
                  }
              }
            }
         },

			  title : {
				  text : '<%=t("Electronic Tender Activity")%>'
			  },
        yAxis: {
            title: {
                text: '<%=t("Lari")%>'
            },
            min: 0
        }, 

		    series : [{
				    name : '<%=t("Estimated Value")%>',
				    data : [ <% @TenderStats.each do |key,tender| %>
                      { 
                       x: <%=key*1000*86400%>, 
                       y: <%=tender[0].estimated_value.to_i%>,
                       myData: "<%= tender_path(tender[0].id) %>"
                      },
                      <%end%>
                    ],
            dataGrouping: {
               enabled : false
			      }
			    },{		    
            name : '<%=t("Actual Value")%>',
				    data : [ <% @TenderStats.each do |key,tender| %>
                      { 
                       x: <%=key*1000*86400%>, 
                       y: <%=tender[1].to_i%>,
                       myData: "<%= tender_path(tender[0].id) %>"
                      },
                    <%end%> 
                    ],
            dataGrouping: {
               enabled : false
			      }
			    }
        ]
		  });
    <% end %>

    <% if @jsonString.length > 0 %>
      createD3Graphs( <%= raw @jsonString %> );
    <% end %>
  })
});
</script>

<%- model_class = Organization -%>
<div class="page-header">
  <h1><%=t '.title', :default => t("Organization") %></h1>
</div>


<% if user_signed_in? %>
  <div class="procurer_subscription">
    <% if @isWatched %>
      <%= button_to t("Remove From Profile"), {:controller => :user, :action => "remove_supplier_watch", :supplier_url => @supplierUrl, :user_id => current_user.id}, :remote => true %>
    <% else %>
      <%= button_to t("Save To Profile"), {:controller => :user, :action => "add_supplier_watch", :supplier_url => @supplierUrl, :supplier_id => @organization.id, :user_id => current_user.id}, :remote => true %>
    <% end %>
  </div>
<% end %>

<div class="row" id="mid-row">
  <div class="span7">
    <dl class="info-horizontal">
      <dt><strong><%= t("Name") %>:</strong></dt>
      <dd><%= @organization.name %></dd>

      <dt><strong><%= t("Identification Code")%>:</strong></dt>
      <dd><%= @organization.code %></dd>

      <dt><strong><%= t("Type")%>:</strong></dt>
      <dd><%= t(@organization.org_type) %></dd>

      <dt><strong><%= t("City")%>:</strong></dt>
      <dd><%= @organization.city %></dd>

      <dt><strong><%= t("Address")%>:</strong></dt>
      <dd><%= @organization.address %></dd>

      <dt><strong><%= t("Phone Number")%>:</strong></dt>
      <dd><%= @organization.phone_number %></dd>

      <% if @organization.fax_number.length > 0 %>
        <dt><strong><%= t("Fax Number")%>:</strong></dt>
        <dd><%= @organization.fax_number %></dd>
      <% end %>

      <dt><strong><%= t("Email") %>:</strong></dt>
      <dd><%= mail_to @organization.email %></dd>

      <dt><strong><%= t("Website") %>:</strong></dt>
      <dd><a href="<%= @organization.webpage%>"> <%= @organization.webpage %></a></dd>

      <dt><strong><%= t("Number of Tenders Bid on")%>:</strong></dt>
      <dd><%= @tenderInfo.count %></dd>

      <dt><strong><%= t("Total Estimated Value of Contracts Won")%>:</strong></dt>
      <dd><%= number_to_currency(@totalEstimatedValueOfContractsWon, :unit => "GEL ") %></dd>
      <dt><strong><%= t("Total Actual Value of Contracts Won")%>:</strong></dt>
      <dd><%= number_to_currency(@totalValueOfAllContracts, :unit => "GEL ") %></dd>
      <dt><strong><%= t("Estimated vs Actual Ratio")%>:</strong></dt>
      <dd><%= number_with_precision(@EstimatedVActual, :precision => 2)+"%"%></dd>
      <dt><strong><%= t("Average Number of Bidders on Contracts Won")%>:</strong></dt>
      <dd><%= number_with_precision(@averageNumBiddersOnContractsWon, :precision => 2)%></dd>
    </dl>
  </div>
  <div class="span5">
    <div id="winLossChart" style="min-width: 250px; height: 250px; margin: 0 auto"></div>
  </div>
</div>
<hr>
<br></br>
<h3><%= t("Tenders Bid On")%></h3>
<br></br>
  <p>
    <%= t("Download")%>:
    <%= link_to "CSV", :controller => "organization", :action => "download_org_tenders", :format => "csv", :id => @organization.id %>
  </p>
  <table class="dataTable" cellpadding="0" cellspacing="0" border="0" width="100%">
  <thead>
    <tr>
      <th><%=t("Tender")%></th>
      <th><%=t("Success?")%></th>
      <th><%=t("Number Of Bidders")%></th>
      <th><%=t("Procurer")%></th>
      <th><%=t("Announcement Date")%></th>
      <th><%=t("Bidding Duration")%></th>
      <th><%=t("Procurer Estimate")%></th>
      <th><%=t("Contract Value")%></th>
      <th><%=t("First Bid")%></th>
      <th><%=t("Last Bid")%></th>
      <th><%=t("Number Of Bids")%></th>
    </tr>
  </thead>
  <tbody>      
    <% @tenderInfo.each do |tender| %>
      <tr>
        <td><%= link_to tender[:tenderCode], tender_path(tender[:id]) %></td> 
        <% if tender[:won] %>
          <td><font color="green"><strong><%=t("yes_caps")%></strong></font></td>
        <% else %>
          <td><font color="red"><%=t("no_caps")%></font></td>
        <% end %>
        <td><%= tender[:numBidders]%></td>
        <td><%= link_to tender[:procurerName], :controller => "organizations", :action => "show_procurer", :id => tender[:procurerID] %></td>
        <td><%= tender[:tenderAnnouncementDate]%></td>
        <td><%= tender[:bidDuration]%> Days</td>
        <td><%= number_to_currency(tender[:start_amount],:unit => "") %></td>
        <% if tender[:contract_value] %>
          <td><%= number_to_currency(tender[:contract_value],:unit => "") %></td>
        <%else%>
          <td>N/A</td>
        <%end%>
        <td><%= number_to_currency(tender[:highest_bid],:unit => "") %></td>
        <td><%= number_to_currency(tender[:lowest_bid],:unit => "") %></td>
        <td><%= tender[:numBids] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if  @simpleTenderStats.count > 0  %>
<div id="tendersValueChart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<% end %>

<% if  @TenderStats.count > 0  %>
  <div id="altTendersValueChart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<% end %>

<% if @jsonString.length > 0 %>
  <p id="cpvChart"></p>
<% end %>

<div id="ProcurersChart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<div id="cpvDistributionChart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="competitorChart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<br>
