<% title t('.title') %>

<p>
  <strong><%= t('app.common.email') %>:</strong>
  <%= @user.email %>
</p>
<p>
  <strong><%= t('app.common.role') %>:</strong>
  <%= @user.role.humanize %>
</p>

<div class="form-actions">
  <%= link_to t('app.buttons.list'),
              admin_users_path, :class => 'btn'  %>
  <%= link_to t('app.buttons.edit'),
              edit_admin_user_path(@user), :class => 'btn' %>
  <%= link_to t('app.buttons.delete'),
              admin_user_path(@user),
              :method => 'delete',
              :confirm => t('app.buttons.confirm'),
              :class => 'btn btn-danger' %>
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>
